body {
  background: url(../img/cryptotrading.original.jpg);
  background-repeat:repeat;
	background-attachment:fixed;
	overflow:scroll;
}

#navbar {  
  background: url(../img/shutterstock_578217358-500x300.jpg) no-repeat center;
  background-size: cover;
}

#titleText, #tt2, #artbtn, #pricebtn {
  color: antiquewhite;
  text-shadow: 1.5px 1.5px black;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

#tt2 {
  margin-top: 3%;
}

#coinCar {
  background-color: black;
  color: antiquewhite;
  /* text-shadow: 1.5px 1.5px gray; */
  font-family: 'Press Start 2P', cursive;
  margin-top: 1%;
  padding-top: 1%; 
}

.carTit{
  color: antiquewhite;
}

.carPri{
  color: green;

}

.carCha {
  color: yellow;
}

.article {
  margin-left: 2%;
}

.btn-success {
  margin-left: 2%;
}

a:link, a:visited, a:hover{
  color: white;
}

hr {
  border-color: antiquewhite;
}

.card {
  margin-bottom: 2%;
}

.bdiv {
  margin-left:80%;
}